{% extends "base/base.html" %}
{% block cao %}



<form class="container" action="" method="post">
    {% csrf_token %}

    {{form.as_per}}

    <button class="btn btn-primary" type="submit">submit</button>
</form>

<table>
    <thead>
        <tr>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        {% for d in dept %}
        <tr>
            <td>{{d.name}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>





{% endblock cao %}